<html lang="pt-br">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

	<head>
		<meta charset="UTF-8">
		<title>FITCARD</title>
		<link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
	</head>

	<body>

    <header>
      <div class="container">
				<div>
					<h1>FiTCARD</h1>
				</div>
				<div>
					<a href="https://www.fitcard.com.br" class="link">FiTCARD.COM.BR</a>
				</div>
		</div>

    </header>
    <main>
			<section class="container">
				<h2 id="titulo-form">Selecione uma Função</h2>

				<section class="container">
				<form cass="grupo" action="/listaEmpresas" method="get">
						<button id="adicionar-empresa" class="btn">Listar Empresas</button>
				</form>

				<form cass="grupo" action="/cadastraEmpresa" method="get">
						<button id="adicionar-empresa" class="btn">Cadastrar Empresa</button>
				</form>

				<form cass="grupo" action="/updateEmpresa" method="get">
						<button id="adicionar-empresa" class="btn">Atualizar Empresa</button>
				</form>

				<form cass="grupo" action="/deletaEmpresa" method="get">
						<button id="adicionar-empresa" class="btn">Exclir Empresa</button>
				</form>

				</section>
			</section>

		</main>

	</body>
</html>
